<div style="position: fixed; top:50%; right:0; border:1px dotted gray; padding: 5px; background-color: white; border-radius:10px;writing-mode: vertical-rl;
text-orientation: upright;">
    <a href="/feedback">feedback</a>
</div>