<!DOCTYPE html>
<html>
    <head>
        <%- include('../components/headLinks.ejs'); %>
        <title><%= title %></title>        
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        
        <style>

            .errorMsg {
                background-color: aliceblue;
                color: crimson;
                border: 1px solid crimson;
                border-radius: 0.5rem;
                font-size: .8rem;
            }

            .sucMsg {
                background-color: aliceblue;
                color: green;
                border: 1px solid green;
                border-radius: 0.5rem;
                font-size: .8rem;
            }
    
        </style>

    </head>

    <body>
        
        <form action="signUp" method="post">
            <div class="bg-partialwhite min-h-screen flex flex-col">
                <div class="container max-w-sm mx-auto flex-1 flex flex-col items-center justify-center px-2">
                    <div class="bg-white px-6 py-8 rounded shadow-md text-black w-full">
                        <h1 class="mb-8 text-3xl text-center bg-white text-midnight">Sign up <span class="flex justify-center text-xs mt-3">As Jobseeker</span></h1>
                        <% 
                            var error = error;
                            if(error !== undefined) {
                                %>
                                <h1 class="errorMsg" > <i class="fa-solid fa-circle-exclamation" style="margin: 0 3rem 0 -4rem;"></i> <%= error %></h1>
                                <%
                            }
                            
                            var success = success;
                            if(success !== undefined) {
                                %>
                                <h1 class="sucMsg" > <i class="fa-solid fa-circle-check" style="margin: 0 1rem 0 0;"></i> <%= success %> <a href="/login">Login</a></h1>
                                <%
                            }
                        %>
                        <input 
                            type="text"
                            class="block border border-grey-light w-full p-3 rounded mb-4 focus:outline-0"
                            name="name"
                            placeholder="Name" required />
    
                        <input 
                            type="text"
                            class="block border border-grey-light w-full p-3 rounded mb-4 focus:outline-0"
                            name="email"
                            placeholder="Email" required />
    
                        <input 
                            type="password"
                            class="block border border-grey-light w-full p-3 rounded mb-4 focus:outline-0"
                            name="password"
                            placeholder="Password" required />
    
                            <div class="flex items-start mb-6">
                                <div class="flex items-center h-5">
                                  <input id="terms" aria-describedby="terms" type="checkbox" class="w-4 h-4 bg-gray-50 rounded border border-gray-300 focus:ring-3 focus:ring-blue-300 dark:bg-gray-700 dark:border-gray-600 dark:focus:ring-blue-600 dark:ring-offset-gray-800" required />
                                </div>
                                <div class="ml-3 text-sm">
                                  <label for="terms" class="font-medium text-black">I agree with the <a href="#" class="text-blue-600 hover:underline dark:text-blue-500">terms and conditions</a></label>
                                </div>
                              </div>

                              <p id="error" style="display: none;">Please accept terms and conditions</p>
                
                        <button type="submit" class="w-full text-center py-3 text-sm font-semibold bg-midnight dark-mode:bg-transparent dark-mode:hover:bg-gray-600 dark-mode:focus:bg-gray-600 dark-mode:focus:text-white dark-mode:text-gray-200  text-white border-solid border-2 border-midnight hover:border-midnight hover:bg-lightgreen hover:text-black rounded hover:shadow-xl transition ease-in-out delay-150 duration-200 focus:outline-none">Create Account</button>
    
                        <div class="text-center text-sm text-grey-dark mt-4">
                            By signing up, you agree to the 
                            <a class="no-underline border-b border-grey-dark text-grey-dark" href="#">
                                Terms of Service
                            </a> and 
                            <a class="no-underline border-b border-grey-dark text-grey-dark" href="#">
                                Privacy Policy
                            </a>
                        </div>
                    </div>
    
                    <div class="text-grey-dark mt-6">
                        Already have an account? 
                        <a class="no-underline border-b border-blue text-blue" href="/login">
                            Log in
                        </a>
                    </div>
                </div>
            </div>
        </form>  

        <script>

        </script>
    </body>

</html>